:root {
  --primary: #ff4c3b;
  --sidebar-width: 160px;
  --menu-height: 280px;
}
body {
  margin: 0;
  background: #f1f0fa;
}
.mainHeader {
  nav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #ffffff;
    width: 100%;
    height: 60px;
    box-shadow: 0 20px 30px rgba(57, 76, 96, 0.06);
    a {
      text-decoration: none;
      color: inherit;
      font-weight: 500;
      padding: 0 10px;
      display: flex;
      align-items: center;
      gap: 3px;
      height: 60px;
      padding: 0 16px 0 0;
    }
  }
  > img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
}
.dropdown > a > img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}
.menu {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  width: 100%;
  height: var(--menu-height);
  padding: 0 20px 20px 0;
  background: #ffffff;
  opacity: 0;
  visibility: hidden;
  translate: 0 -10px;
  box-shadow: 0 20px 30px rgba(57, 76, 96, 0.06);
  transition: 0.3s;
  display: flex;
  &-buttons {
    flex: 0 0 auto;
    width: var(--sidebar-width);
  }
  &-content {
    position: absolute;
    top: 0;
    left: var(--sidebar-width);
    
    padding: 0 30px;
    transition: 0.6s;
    width: calc(100% - var(--sidebar-width));
    ul {
      li {
        a {
          text-decoration: none;
          color: #222222;
          &:hover {
            color: var(--primary);
          }
        }
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }
  }
  &-block {
    padding: 15px 0;
    h5 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }
  }
}

body.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
}

body.open .dropdown-button,
nav a:hover {
  color: var(--primary);
}

body.open .dropdown-button path {
  stroke: var(--primary);
}

.menu-buttons button {
  margin: 0;
  font-size: 14px;
  width: 100%;
  height: 36px;
  margin: 4px 0 4px 10px;
  padding: 0 0 0 7px;
  background: transparent;
  border-radius: 20px;
  border: 0;
  border-left: 6px solid transparent;
  opacity: 0.5;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.menu-buttons button.active {
  opacity: 1;
  color: var(--primary);
}

.menu-buttons button.active,
.menu-buttons button:hover {
  background: #f0efff;
}
